# PCI Req 1.3: Prohibit direct public access between the Internet and any system component in the cardholder data environment.
# The subnetwork houses the GKE cluster and has Private Google Access enabled to avoid public IPs for management.
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeSubnetwork
metadata:
  name: "{{ .Values.gcp.projectId }}-subnet"
  namespace: "{{ .Values.tenant }}"
spec:
  projectRef:
    name: "{{ .Values.gcp.projectId }}"
  ipCidrRange: "{{ .Values.network.subnetCidr }}"
  region: "{{ .Values.gcp.region }}"
  networkRef:
    name: "{{ .Values.gcp.projectId }}-vpc"
  privateIpGoogleAccess: true
  # PCI Req 1.3.4: Do not allow unauthorized outbound traffic from the cardholder data environment to the Internet.
  # Logging is enabled to monitor traffic flows.
  logConfig:
    aggregationInterval: INTERVAL_10_MIN
    flowSampling: 0.5
    metadata: INCLUDE_ALL_METADATA
